<div class="container">

      <% @cocktails.each do |cocktail| %>
        <div class="card">
          <img src="#" />
          <div class="card-info">
              <ul>
               <%= link_to cocktail.name, cocktail_path(cocktail) %>
                <%= link_to cocktail_path(cocktail), method: :delete,
                data: { confirm: 'reeeeeaaaaly?'} do %>
                  <i class="fas fa-trash"></i>
                  <% end %>

              </ul>
          </div>
        </div>
      <% end %>

</div>

<footer>
  <%= link_to "Add a new cocktail", new_cocktail_path  %>
</footer>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("san_francisco.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("boris_retreat_2017.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
