<h1>NEW COCKTAIL</h1>

  <div class="container">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, :class => "btn btn-light" %>
    <% end %>
  </div>

  <footer>
    <%= link_to "back", cocktails_path %>
</footer>
