<div class="container">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden%>
    <%= f.button :submit, :class => "btn btn-light" %>
    <div class="button-inform">
      <%= link_to "Back to cocktails", cocktails_path %>
    </div>
  <% end %>
</div>