<h1>I AM THE DOSE VIEW</h1>
  <div class="container">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.button :submit, :class => "btn btn-light" %>
    <% end %>
  </div>
  <footer>
    <%= link_to "back", cocktails_path %>
</footer>
